* {
    text-align: center;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

h1 {
    text-align: center;
    font-family: 'Sarina', cursive;
    font-size: calc(7px + 7vw);
    color: ivory;
    text-shadow: 3px 3px 6px red;    
    letter-spacing: 0.07em;
    
}

.anime-button {
    display: inline-block;
    padding: 5px 23px;
    font-size: 22px;
    cursor: pointer;    
    text-align: center;
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    background-color: tomato;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px crimson;
    margin: 30px 50px;
    letter-spacing: 0.4em;
    font-family: 'Creepster', cursive;
    /* align-content: center; */
    /* justify-content: center; */
    /* margin-bottom: 45px; */
}

.anime-button:hover {
    background-color: rgb(150, 16, 16);
    color: rgb(255, 0, 34);
}

.anime-button:active {
    background-color: rgb(150, 16, 16);
    box-shadow: 0 4px rgb(255, 9, 9);
    transform: translateY(4px);

}

form {
    font-family: 'Creepster', cursive;
    text-align: center;
    color: red;
    margin: 10px 35px;
    margin-top: 35px;
    text-shadow: 2px 2px 4px whitesmoke;    

}

input#add-character {
    background-color: red;
    border: whitesmoke;
    border-radius: 12px;
    color: whitesmoke;
    padding: 7px 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Sarina', cursive;
    font-size: medium;
    margin-top: 20px;
}

input#add-character:hover {
    box-shadow: 0 8px 20px 0 rgba(253, 4, 4, 0.479),0 17px 50px 0 rgba(235, 8, 20, 0.19);
}

label {
    font-size: 20px;
    letter-spacing: 0.4rem;
}

#anime-input {
    padding:  7px 7px 7px 7px;
    font-family: 'Sarina', cursive;
    color: crimson;
}

