body {
    background-image: url("../images/onepunchman.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(6px + 4vw);
    letter-spacing: 0.05em;
    
}

form {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.anime-button {
    justify-content: center;
    align-items: center;
}
