* {
    align-content: center;
    justify-content: center;
    text-align: center;
}

body {
    background-image: url("../images/myGuy.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    object-fit: cover;
}   

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(7px + 5vw);
    color: ivory;
    text-shadow: 2px 2px 4px red;    
    letter-spacing: 0.05em;
    
}

#anime-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;    
}

form {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/* #characters {
    justify-content: center;
    align-items: center;
    text-align: center;
} */
